<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="description" content="Grolifant : A Library to Support Gradle Plugin Development">

<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/github.css">

<title>Grolifant</title>
